html, body {
    height: 100%;;
}

body h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #f2ffeb;
}

body p, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f3f5f1;
}

body a, .navbar-dark .navbar-nav .nav-link {
    color: #f2ffeb;
    text-decoration: none;
}

body a:hover {
    color: #c4cfbd;
    text-decoration: none;
}

header {
    background-color: #4cbd0f;
}


.banner {
    background: url("../images/atleta-comemorando.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    position: relative;

}

.banner::after {
    content: '';
    background-color: black;
    opacity: 0.5;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 1;
}


.title-block {
    max-width: 900px;
}

.banner .row {
    z-index: 2;
}


.banner .title-block, .footer .title-block {
    max-width: 400px;
}

.title-block > h2 {
    font-size: 2.6rem;
}

.title-block > h3 {
    font-size: 2.3rem;
}

.title-block > p {
    font-size: 1.4rem;
}

.how-start {
    background-image: linear-gradient(to bottom right, #48beff, #5ee513);
}

.tutorials {
    background-image: linear-gradient(to bottom right, #48beff, #BF1A2F);
}

.exercises {
    background-image: linear-gradient(to bottom right, #5ee513, #48beff);
}

.tutorials .title-block{
margin: 0 auto;
}

.footer {
    background-color: #4cbd0f;
}

.footer p, a {
    color: #f2ffeb; 
}

.footer .title-block > h3 {
    font-size: 1.8rem;
}


@media screen and (max-width: 480px) {
    /* .banner {
        background-color: #48beff;
        background-image: none;
        min-height: 300px;
    }
    .banner-overlay {
        opacity: 0;
    } */
}