body h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #f2ffeb;
}

body p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f3f5f1;
}

body a {
    color: #f2ffeb;
    text-decoration: none;
}

body a:hover {
    color: #c4cfbd;
    text-decoration: none;
}

header {
    background-color: #4cbd0f;
}

.banner {
    background-image: url("../images/atleta-comemorando.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
}

.banner-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.4;
    top: 56px;
    left: 0;
    width: 100%;
    height: 600px;
}

.title-block {
    max-width: 900px;
}


.banner .title-block {
    max-width: 400px;
}

.title-block > h2 {
    font-size: 2.6rem;
}

.title-block > h3 {
    font-size: 2.3rem;
}

.title-block > p {
    font-size: 1.4rem;
}

.how-start {
    background-image: linear-gradient(to bottom right, #48beff, #5ee513);
}

.tutorials {
    background-image: linear-gradient(to bottom right, #48beff, #BF1A2F);
}



.tutorials .title-block{
margin: 0 auto;
}
